/* .loading{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:static;
    width: 100%;
    opacity: 60%;
    
    
} */

.loading{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-color: white;

    
} 